@font-face {
  font-family: good-news-sans-reg-ext;
  src: url($root-path + '/dist/fonts/good-news-sans-reg-ext.otf');
  font-weight: normal;
}

#top-bar {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
}

#ericsson-logo-icon {
	display: block;
	width: 46px;
	height: 60px;
	background: url(../images/ericsson_logo_white.svg);
	position: absolute;
	top: 30px;
	right: 30px;
	z-index: 100
}
<<<<<<< HEAD

=======
>>>>>>> c72a56da3e37927ae61cc60077b1a48db7db56bc
#ericsson-logo-text {
	display: block;
	height: 60px;
	position: absolute;
	top: 23px;
	left: 220px;
	font-size: 18px;
<<<<<<< HEAD
  z-index: 100; 
=======
	z-index: 100;
>>>>>>> c72a56da3e37927ae61cc60077b1a48db7db56bc
}

.car-hero {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
	background-color: black;
}

#car-hero-screen {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
<<<<<<< HEAD
	opacity: 0.25;
=======
	opacity: 0.3;
>>>>>>> c72a56da3e37927ae61cc60077b1a48db7db56bc
	z-index: 1;
}

.car-question-set {
	position: absolute;
	top: 274px;
	left: 275px;
	z-index: 10;
	width: 1000px;
	font-style: good-news-sans-reg-ext;
}

.car-question-style-top {
	position: absolute;
	top: 0px;
	left: 0px;
	color: white;
	font-size: 25pt;
}

.car-question-style-middle {
	position: absolute;
	top: 45px;
	left: 0px;
	color: #d51b5d;
	font-size: 30pt;
}

.car-question-style-bottom {
	position: absolute;
	top: 95px;
	left: 0px;
	color: white;
	font-size: 35pt;
}